<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Main page <br>
<table border=1 bordercolor="black">
    <tr><td> Link </td><td> Description </td></tr>
    <tr><td> <a href="/add"> Add cars </a> </td><td> Add cars to database </td></tr>
    <tr><td> <a href="/cars"> All cars </a> </td><td> List of all cars </td></tr>
    <tr><td> <a href="/cars?count=5">5 cars </a> </td><td> List of first 5 cars for example </td></tr>
</table>
</body>
</html>